---
import ContentMeta from "../components/ContentMeta.astro"
import BlueScreenOfDeath from "../components/BlueScreenOfDeath.astro"
---
<html lang="es">
	<ContentMeta />
	<body>
		<BlueScreenOfDeath />
		<slot />
	</body>
</html>
